<!-- Contenedor principal -->
<div class="container">
    <!-- Título principal del proyecto -->
    <h1>Hola este es mi primer proyecto</h1>
    <!-- Subtítulo que muestra un mensaje de bienvenida dinámico -->
    <h2>{{welcome}}</h2>
    <!-- Lista dinámica generada a partir de los elementos de la variable 'task' -->
    <ul>
    <li *ngFor="let task of task()">
        <!-- Cada elemento de la lista es un valor individual de 'task' -->
        {{task}}
    </li>
    </ul>
    <!-- Separador visual -->
    <hr />
    <!-- Ejemplo de uso de funciones de cadena en la plantilla, repite 'hola' 4 veces -->
    <h2>{{ 'hola' .repeat(4)}}</h2>
    <!-- Ejemplo de operaciones matemáticas en la plantilla, suma 3 + 3 -->
    <p>La suma de 3 + 3 es {{ 3 + 3 }}</p>
    <!-- Muestra un mensaje personalizado con las variables 'name' y 'age' -->
    <p> hola soy {{ name() }} y tengo {{ age }} años</p>
    <!-- Separador visual -->
    <hr />
    <!-- Muestra una imagen cuya fuente es determinada por 'person.avatar' -->
    <img [src]="person.avatar" alt="" />
    <!-- Campo de entrada de número con el valor inicial de 'person.age' -->
    <input type="number"[value]="person.age" />
    <!-- Botón que se deshabilita si la variable 'disabled' es verdadera -->
    <button [disabled]="disabled">click me</button>
    <!-- Muestra el nombre de la persona -->
    <p> person: {{ person.name }} </p>
    <!-- Separador visual -->
    <hr />
    <!-- Botón que llama a la función 'clickHamdler()' cuando se hace click -->
    <button (click)="clickHamdler()">click me</button>
    <!-- Botón que llama a la función 'clickHamdler()' cuando se hace doble click -->
    <button (dblclick)="clickHamdler()">double me</button>
    <!-- Campo de entrada de texto que llama a la función 'keydownHandler($event)' cuando se presiona una tecla -->
    <input type="text"[value]="person.name" (keydown)="keydownHandler($event)" />
    <!-- Campo de entrada de texto que llama a la función 'clickHamdler()' cuando se presiona una tecla con la tecla shift -->
    <input type="text"[value]="person.name" (keydown.shift.t)="clickHamdler()" />
    <!-- Separador visual -->
    <hr />
    <ul>
        <p>total: {{ task().length }}</p>
        <li *ngFor="let task of task() index as i">
            <!-- Cada elemento de la lista es un valor individual de 'task' -->
           {{ i}} {{ task }}
        </li>
        </ul>
    <h1>Signals</h1>
    <input type=""text [value]="name()" (change)="changeHandler($event)" />
    <p> name: {{ name() }} </p>
</div>